Django==1.6
http://effbot.org/media/downloads/Imaging-1.1.7.tar.gz
South==1.0.2
argparse==1.2.1
decorator==3.4.2
dj-database-url==0.3.0
dj-static==0.0.6
django-appconf==0.6
django-geojson==2.8.0
django-haystack==2.3.1
django-leaflet==0.16.0
gunicorn==19.3.0
jsonfield==1.0.3
psycopg2==2.6
six==1.9.0
static3==0.5.1
wsgiref==0.1.2
djangoajax==2.2.15
