{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<title>Chris-Daisie Gas Company</title>
	<link rel="stylesheet" type="text/css" href={% static "assets/css/bootstrap.min.css"%}>
        <link rel="stylesheet" type="text/css" href={% static "assets/css/main.css"%}>
        <link rel="stylesheet" type="text/css" href={% static "assets/fonts/font-awesome-4.2.0/css/font-awesome.min.css"%}>
        <link rel="stylesheet" type="text/css" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css"/>
	   
</head>
<body>
<div class=contents id=content-static>
<div class=wrapper>
<div class=wrapper id=wrapper-shadow>
{% block banner %}
	<div class="banner" id="banner-small">
		<div class="logo" id=logo2>
			<img src={% static "assets/img/main_logo3.png" %} alt="" width=200px height=100px> </div>
		<div class="title"><em>Volta Aluminium Company</em></div>
		<div class="subtitle">Staff Location and Safety Monitoring System</div>
		<div class="user" id="banner-user">
			<i class="fa fa-user pull-right" ></i>
		</div>
		<div class=username id=banner_username>
			<p class=username_text>{{username}}</p>
		</div>
		<div class="options" id="banner-options">
	                <i class="fa fa-gear pull-right"></i>
		</div>
		<div class=day>
			<h2>{{now.day}}</h2>
		</div>
		<div class=month>
			<h4>{{now|date:"M"}}</h4>
		</div>
		<div class=year>
			<h4>{{now.year}}</h4>
		</div>

	</div>
        <div class="nav-bar">
	    <hr class=divider id=banner-divider>
            <ul class="nav-list">
		    <li class="list-item"><a href="/monitor">Monitor</a></li>
		    <li class="list-item"><a href="/clients">History</a></li>
	    </ul>
	    <form class=search-box>
	           <input class=search-lineedit type="text" placeholder="Search..." required> 
	           <input type="submit" value="Search" class=search-button> 
	    </form>
        </div>

{% endblock%}
{% block contents %}
<div id="map"></div>
{% endblock %}
{% block footer%}
<div class=banner id=footer>


</div>

{% endblock %}
    </div>
    </div>
    </div>
       <script type="text/javascript" src = {% static "assets/js/jquery-1.11.1.js"%}></script>
       <script type="text/javascript" src = {% static "assets/js/bootstrap.min.js"%}></script>
       <script type="text/javascript" src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>

       <script>
	$(document).ready(function(){
		$(".alert-list").children(".highlight-rib").hide();
		
		var colors = ['#99B433', '#00A300', '#1E7145', '#FF0097', '#9F00A7',
			  '#7E3878', '#603CBA', '#00ABA9', '#2D89EF', '#2B5797',
			  '#FFC40D', '#E3A21A', '#DA532C', '#EE1111', '#B91D47',
			 ]
	        var counter = 0;
		var index_old = 0;
			 $(".list-image-container").each(function(){
				var index =  Math.floor(Math.random()*15);
				if((counter != 0) && (index_old==index)){
					while(index_old==index){
					    index = Math.floor(Math.random()*15);
					    console.log("same")
					}	
				}	
				$(this).css("background-color", colors[index]) 
				$(this).siblings(".highlight-rib").css("background-color", colors[index]).hide();
				index_old = index;
				counter++;
				} )

				 
		})
		$(function(){
			setNavigation();	
			accessToken = 'pk.eyJ1IjoieXVuZ3V0YSIsImEiOiJILVdtQ1pRIn0.FmyLN0Igsi5NGFQqWu4oWg';
			var map = L.map('map').setView([51.505, -0.09], 13);
			L.tileLayer('http://{s}.tiles.mapbox.com/v4/yunguta.m3987de7/{z}/{x}/{y}.png?access_token=' + accessToken, {
			attribution: '<a href="http://www.mapbox.com/about/maps/" target="_blank">Terms &amp; Feedback</a>',
			     maxZoom: 17}).addTo(map);
			})

		$(window).scroll(function(){
			if($(window).scrollTop() > 131){
			    $(".nav-bar").addClass('fixed')
			}
			if($(window).scrollTop() < 131){
			    $(".nav-bar").removeClass('fixed')
			}
                        })
		

		 $(".client-list").hover(
			 function(){
			            var highlight  = $(this).children(".highlight-rib") 
			            var name_title = $(this).children(".client-name")
				    var box        = $(this).children(".list-image-container")
				    name_title.css("color", highlight.css("background-color"));
			            highlight.fadeIn(100);
				    box.addClass('shadow')
				   }, 
			 function(){
			            $(this).children(".highlight-rib").fadeOut(100)
				    $(this).children(".client-name").css("color", "#000")  
				    $(this).children(".list-image-container").removeClass('shadow')
				   }
		 )
		 $(".alert-list").hover(
			 function(){
			            var highlight  = $(this).children(".highlight-rib") 
			            var name_title = $(this).children(".device-number")
				    var box        = $(this).children(".image-list")
				    name_title.css("color", highlight.css("background-color"));
			            highlight.fadeIn(100);
				    box.addClass('shadow')
				   }, 
			 function(){
			            $(this).children(".highlight-rib").fadeOut(100)
				    $(this).children(".device-number").css("color", "#000")  
				    $(this).children(".image-list").removeClass('shadow')
				   }
		 )

		 $(".search-button").hover(
				 function(){
				        $(this).css("background", "#2288CB") 
				        },
				 function(){
				        $(this).css("background", "#3298DB") 
				        }
				 
				 )

		 function setNavigation(){
			 var path = window.location.pathname;
			 path = path.replace(/\/$/, "");
			 path = decodeURIComponent(path);

			 $(".nav-list a").each(function(){
					var href = $(this).attr('href'); 
					if(path.substring(0,href.length)==href){
					    $(this).closest('li').addClass('active');
					}
					 })
		 }

       </script>
</body>
</html>
